<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>
<header>
    <a th:href="@{/admin/users-panel}">Cancel</a>
    <h3>Create</h3>
</header>
<main>
    <form action="/admin/users-panel/add-user" method="post" th:object="${user}">
        <fieldset>
            <legend>form:</legend>
            <label for="username">Username:</label>
            <input type="text" th:field="*{username}" id="username" placeholder="Enter the username" required>
            <span th:errors="*{username}" class="error"></span>
            <br>

            <label for="password">Password:</label>
            <input type="password" th:field="*{password}" id="password" placeholder="Enter the password" required>
            <span th:errors="*{password}" class="error"></span>
            <br>

            <label for="email">Email:</label>
            <input type="email" th:field="*{email}" id="email" placeholder="Enter the email" required>
            <span th:errors="*{email}" class="error"></span>
            <br>

            <label for="phoneNumber">Phone number:</label>
            <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Enter the phone number" required>
            <span th:errors="*{phoneNumber}" class="error"></span>
            <br>

            <label for="age">Age:</label>
            <input type="number" th:field="*{age}" id="age" placeholder="Enter the age" required>
            <span th:errors="*{age}" class="error"></span>
            <br>

            <label for="sex">Sex:</label>
            <input type="text" th:field="*{sex}" id="sex" placeholder="Enter the sex" required>
            <span th:errors="*{sex}" class="error"></span>
            <br>

            <div>
                <div th:each="role, iterStat : ${roles}">
                    <label>
                        <input type="checkbox"
                               th:id="'role_' + ${iterStat.index}"
                               th:name="roles"
                               th:value="${role.id}"
                               th:checked="${user.roles.contains(role)}"/>
                    </label>
                    <label th:for="'role_' + ${iterStat.index}" th:text="${role.roleName}"></label>
                </div>
            </div>
        </fieldset>
        <br/>
        <input type="submit" value="confirm"/>
    </form>
    <br>
</main>
<footer>
    <form th:action="@{/logout}" method="post">
        <button type="submit">logout</button>
    </form>
</footer>
</body>
</html>